* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

.company {
  display: flex;
}

.job-details {
    height: 200px;
    overflow: scroll;
}


@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.progress-bar {
  background-color: #f2f2f2;
  border-radius: 4px;
  height: 10px;
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
}

.progress {
  background-color: green;
  height: 100%;
  width: 0;
  transition: width 0.5s ease;
}

.progress-bar.red .progress {
  background-color: red;
}

.skill-name {
  cursor: pointer;
}

.skill-category {
  flex: 1;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  max-height: 380px;
  overflow-y: auto;
}

.skill-name {
  cursor: pointer;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.category-title {
  margin-top: 15px;
  text-align: center;
}

.skill {
  margin-bottom: 20px;
}

.stack-item, .company-logo-item {
  display: inline-block;
  margin-right: 10px;
}

.download-button {
  text-align: center;
}


.img-link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    vertical-align: middle;
}

.about-text {
    margin: auto;
    margin-bottom: 30px;
    white-space: normal;
    width: 75%;
    text-align: center;

}

.about-info {
    margin: auto;
    text-align: center;
    margin: 10px;
}

.edu-card {
  width: 18rem;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.book {
    margin: auto;
}
